@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@layer utilities {
  /* * {
    box-sizing: border-box;
  }
  html,
  body {
    padding: 0;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  } */
 
  .font-alata {
    font-family: "Alata", sans-serif;
  }
  .font-josefin {
    font-family: "Josefin Sans", sans-serif;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

